* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-family: "Poppins", sans-serif;
  background: #020202;
  color: #5f5d5d;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo span {
  color: #00eaff;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  transition: 0.4s ease;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #00eaff;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 21px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transition: all 0.4s ease;
}

@media (max-width: 1000px) {
  .hamburger {
    display: flex;
    z-index: 1100;
  }

  .nav-links {
    position: fixed;
    right: -100%;
    top: 0;
    height: 60vh;
    width: 35%;
    background: rgba(15, 15, 15, 0.95);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    transition: right 0.5s ease;
  }

  .nav-links.active {
    right: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .nav-links li a {
    font-size: 1.2rem;
  }
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero span {
  color: #00eaff;
}

.hero p {
  font-size: 1.1rem;
  color: #aaa;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}
